<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Controle de Processos</title>
  </head>

<body>

<div class="inline">
    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cadastrar Departamento</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Visualizar Processos</a>
        </li>
      </ul>
</div>

<div class="container">
    <!-- Content here -->
    <br><br><br>

    <div class="row">

        <div class="col-6">
            <br>
            <div class="big_title">

                Acesse o <br>
                Cadastro Interno <br>
                de Processos
            </div>
         </div>

        <div class="col-6">
            <form>
                <div class="form-group">
                  <label for="login_email">E-mail: </label>
                  <input type="email" class="form-control" id="login_email" aria-describedby="emailHelp" placeholder="Digite seu E-mail">
                  <small id="emailHelp" class="form-text text-muted"></small>
                </div>
                <div class="form-group">
                  <label for="login_password">Senha: </label>
                  <input type="password" class="form-control" id="login_password" placeholder="Digite sua senha">
                </div>
                <button type="submit" class="btn btn-primary">Entrar</button>
              </form>
        </div>
    </div>
</div>

<footer>
    <div class="container">
      <div class="row">

          <div class="col-3">
              <img id="ufrpe_symbol" class="footer_el" src="images/ufrpe_symbol.png" alt="ufrpe_symbol"/>
          </div>

          <div class="col-4" id="footertext">
              <h1 class="header center white-grey-text">Controle Interno <br> de Processos</h1>
              <div class="row center">
                  <h5 class="header col s12 light">Departamento vinculado UFRPE</h5>
              </div>
          </div>

          <div class="col-3">
              <img id="mpgsoftware_symbol" src="images/mpgsoftware_symbol.png" alt="mpgsoftware_symbol"/>
          </div>
      </div>
      <br>
  </div>
  <div class="footer-copyright">
    <div class="container">
        Projeto iniciado por <a class="orange-text text-lighten-3" href="https://bit.ly/2TPERZf">Master Programming SW</a>
    </div>
</div>

</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</body>
</html>
